/* Start Body*/
body{
    color:rgb(30, 31, 32);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* end Body*/

/* start debug */
.bg-pink {
    background-color:pink;
}
.bg-blue {
    background-color: aliceblue ;
}
/* end debug */

/* start container */
.container-full {
    margin:10px auto;
    overflow: auto;
    width: 100%;
}
/* end container */
* start logo */
.logo {
    text-align:center
}
/* end logo */

/* start menu primer */
.menu-primer ul {
    background-color: mediumaquamarine;
    border-radius: 4px;
}
.menu-primer li {
    border-right: 1px solid white;
    display: inline-block;
}

.menu-primer a {
    color: black;
    font-size: 13px; 
    letter-spacing: 2px;
    padding: 10px 20px;
    text-transform: uppercase;

}
/* end menu primer */


